@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap");

@import "screen/clock.css";
@import "screen/greeting.css";
@import "screen/login.css";

body {
  font-family: "Nanum Myeongjo", serif;
  position: absolute;
  width: 100vw;
  height: 100vh;
  color: white;
}
.hidden {
  display: none;
}
#weather {
  display: flex;
  justify-content: flex-end;
  margin: 10px 15px;
}
#weather span {
  margin-left: 10px;
}
img {
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -1;
  top: 0;
  margin: -10px;
}
#quote span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}
